/* ====================================
  Modal Base Styles
  ==================================== */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--tr-duration), visibility var(--tr-duration);
  z-index: 4000;
}

.modal-backdrop.show {
  opacity: 1;
  visibility: visible;
}

.ops-modal {
  position: relative;
  background-color: var(--clr-background);
  border-radius: var(--br-radius);
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transform: scale(0.9);
  transition: transform var(--tr-duration);
  max-height: 90vh;
  overflow-y: auto;
}

.modal-backdrop.show .ops-modal {
  transform: scale(1);
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: transparent;
  color: var(--clr-text);
  line-height: 1;
  transition: transform var(--tr-duration);
}

.close-modal:hover {
  transform: rotate(90deg);
}

.ops-modal h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: 700;
  color: var(--clr-accent);
}

.ops-modal form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row, .form-pairs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.form-cell, .form-pairs > div {
  display: flex;
  flex-direction: column;
}
.form-cell label, .form-pairs label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.submit-btn {
  background-color: var(--clr-accent);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: var(--br-radius);
  font-weight: bold;
  align-self: center;
  margin-top: 1rem;
}

.draggable-handle {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
}

.draggable-handle:active {
  cursor: grabbing;
}
